.over {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    position: relative;
  }
  .logos {
    width: 70px;
    height: 70px;
    margin: 0px 25px;
  }
  .education {
    box-shadow: rgb(30, 91, 204) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: fit-content;
    margin: 10px;
    height: 90vh;
  }
  .experience {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: fit-content;
    margin: 10px;
    height: 90vh;
  }
  .education h2,
  .experience h2 {
    font-size: 30px;
    color: whitesmoke;
  }

  .right-list{
    margin-top: -20px;
  }

  .left-list{
    margin-right: 20px;
  }

  @media screen and (min-width:320px) and (max-width:480px) {
    
    #about{
      display: flex;
      flex-direction: column !important;
      position: relative;
    }

    .education,.experience{
      height: max-content;
      position: relative;
    }
    .left-list{
      font-size: 15px !important;
    }
    .right-list h3,.right-list p{
      font-size: 15px !important;
    }

  }